@{
}

@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded card-header p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>$@Model.Price</small>
            </span>
        </h4>
    </div>

    <div class="card-text p-1">
        <ul>
            <li>Book ID: @Model.BookId</li>
            <li>Author: @Model.Author</li>
            <li>Publisher: @Model.Publisher</li>
            <li>ISBN: @Model.Isbn</li>
            <li>Classification: @Model.Classification</li>
            <li>Category: @Model.Category</li>
            <li>Page Count: @Model.PageCount</li>
        </ul>

        <form method="post" asp-page="/Cart">

            <input type="hidden" asp-for="@Model.BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

            <span class="card-text">
                <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
            </span>
        </form>
    </div>
    <br />
</div>